

<div class='index'>
  <h1> GA Movie Database</h1>
  <img id='index' src='http://www.statf.com/r100.0/redesign/areas/registration/img/theater-rewards-oj.svg'><br>
  <form action='/more'> 
  <label for=''></label>
  <input type='text' name='movie' placeholder="Search for a movie">
  <button>Search</button>
  </form>
</div>